body.default-theme .app-header {
    background: linear-gradient(135deg, #e6e6e6, #ffffff) !important;
}



/* sidebar */
p.sidebar-text,
li.nav-header,
i.bi.bi-list {

    color: #3e4b5b !important;
}

.app-wrapper {
    background-color: #f2edf3;
}

body.default-theme .app-header .navbar-nav li>a {
    color: #3e4b5b !important;
}

body .sidebar-menu .nav-item>.nav-link {
    color: #3e4b5b;
}

body.default-theme .sidebar-brand {
    border: 0 !important;
    background-color: #f8f9fa;
}

body.default-theme .sidebar-wrapper {
    background: linear-gradient(135deg, #ffffff, #e6e6e6) !important;
    /* box-shadow:0px 0px 15px -2px rgba(0, 0, 0, 0.4); */
}

.input-group {
    box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.4) !important;
}

.input-group-append {
    box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.4) !important;

}

button.btn.btn-sidebar {
    border: 0 !important;
    color: #007bff !important;
}

span.nav-link.Timer.fw-bold {
    color: #3e4b5b;

}

.chart-card {
    margin-bottom: 10px !important;
}

.map-card {
    box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.4) !important;
    border-radius: 13px !important;
    margin-bottom: 10px !important;
    margin-right: 9px !important;
    width: 99% !important;
}

/* .table-card{
    box-shadow:0px 0px 15px -2px rgba(0, 0, 0, 0.4) !important;
    margin-top: 10px ;
    width: 100% !important;
    border-radius: 13px !important;
} */
.info-box {
    background: linear-gradient(135deg, #ffffff, #e6e6e6) !important;
    color: white;
    /* Ensure the icon remains visible */
    border-radius: 5px;
    /* Optional: Add rounded corners */
}

/* body.default-theme .app-header .navbar-nav li>a{
    color: #fff !important;
} */

body.default-theme .sidebar-brand a {
    color: #6c6d74;
}

body .sidebar-menu .nav-item>.nav-link {
    color: #fff;
}

.brand-image {
    width: 80px;
}

body .sidebar-open .brand-image {
    max-width: 180px !important;

}

body.default-theme .sidebar-wrapper .form-control-sidebar {
    background-color: #fff;
    border: 0px;
    border-radius: 8px;
}

body.default-theme .Timer {
    color: #fff;
}

.radio-group {
    display: flex;
    gap: 15px;
    /* Adds spacing between radio buttons */
    align-items: center;
    margin-bottom: 10px;
}

.radio-group input[type="radio"] {
    display: none;
    /* Hide default radio */
}

.radio-group label {
    background-color: #f0f0f0;
    padding: 8px 16px;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
}

.radio-group input[type="radio"]:checked+label {
    background-color: #007bff;
    color: white;
    border-color: #0056b3;
}

.card {
    /* box-shadow: 0 15 75px rgba(var(--bs-body-color-rgb), .125), 0 1px 3px rgba(var(--bs-body-color-rgb), .2); */
    box-shadow: 0px 0px 23px -2px rgba(0, 0, 0, 0.4) !important;
    background: linear-gradient(135deg, #ffffff, #e6e6e6) !important;
}

span.description-text.col-md-12,
span.description-text\.col-md-12 {
    font-family: ui-sans-serif;
    font-size: larger;
    font-style: italic;
    /* font-weight: 600; */
}

li.user-header,
li.user-footer {
    border: 0px 0px 5px 5px #0056b3;
    box-shadow: 0px 0px 23px -2px rgba(0, 0, 0, 0.4) !important;
    background: linear-gradient(135deg, #ffffff, #e6e6e6) !important;
}

li.nav-item.child {
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    border-radius: 10px;

}

li.nav-item.child:hover,
li.nav-item.child.active {
    background-color: #c4d6f7;
    /* Change background */
    /* color: white; Change text color */
    transform: translateY(-2px);
    /* Adds a slight lift effect */
    /* box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.4); Adds a soft glow */
    border-radius: 10px;
}

.app-footer {
    background: linear-gradient(135deg, #ffffff, #e6e6e6) !important;

}
.os-scrollbar-rtl.os-scrollbar-vertical .os-scrollbar-handle {  
    background-color: #5a7899;
    height: 40px !important;
}